{% extends "Appentrega/inicio.html" %}
{% load static %}
{% block section1 %}

{% block conenidoQueCambia %}
 
 <section>
    <h1>STUDENTS</h1> 
    <h1></h1>
    <p> <h3> "Our courses are set up for students from different countries
        which leads to a more interesting learning path" </h3> </p>
    <h3> So, what do you wait for singing up? </h3>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'Appentrega/assets/img/02.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">STUDENTS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
{% endblock %}
